.sidebar {
  padding: 8px;
}

.hotPautas {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.hotPautasH {
  background-color: var(--yellow);
  color: var(--black);
  padding: 8px;
  border-radius: 8px 8px 0 0;
}

.hotPautas .pautas {
  /* border: 1px solid var(--black); */
  border-radius: 0 0 8px 8px;
}

.pauta {
  padding: 8px;
  margin-bottom: 4px;
}

.pauta:not(:last-of-type) {
  border-bottom: 1px solid var(--gray);
}

.pauta p {
  color: var(--gray);
  margin-bottom: 4px;
}

.pauta strong {
  font-size: var(--font-size-extra-small);
  color: var(--black);
}